{% extends "shared/_layout.html" %}

{% block add_title %}
<title>Congratulations!</title>
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="/static/css/_home_layout.css">
{% endblock %}

{% block main_content %}
    <div class="page-container">
        <div class="main">
            <div class="torch_flanked">
                <div class="row">
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                    <div class="col-lg-6 final_text">
                        <p>Congratulations! You have finished the demo for Dungeon Defender.</p>
                        <p>Check back in the future for more updates!</p>
                    </div>
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                </div>
            </div>

{#            <div class="torch_flanked">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 image-responsive">#}
{#                        <img src="/static/img/torch.jpg">#}
{#                    </div>#}
{#                    <div class="col-lg-6 final_text">#}
{#                        <p>As you pass through the final golden door you are met with air so fresh you wonder if it's even the same as at home.#}
{#                            Odin, Thor, Loki, and Audumbla all stand before you. As you bask in the sun it is not the only thing that warms you.</p>#}
{#                    </div>#}
{#                    <div class="col-lg-3 image-responsive">#}
{#                        <img src="/static/img/torch.jpg">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="torch_flanked">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 image-responsive">#}
{#                        <img src="/static/img/torch.jpg">#}
{#                    </div>#}
{#                    <div class="col-lg-6 final_text">#}
{#                        <p>#}
{#                            "What you have accomplished today is no small feat" Odin pronounces, taking a step forward.#}
{#                            "You should feel pride at your accomplishments, and know that all will remember them.#}
{#                            "You should feel pride at your accomplishments, and know that all will remember them.#}
{#                            You stand as an inspiration to us all, and a worthy partner for whoever you choose.#}
{#                            I'm sure they will love and cherish you as you deserve.#}
{#                            I wish you luck with your path forward, and although the paths may not be as clear I know you'll find your way."#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="col-lg-3 image-responsive">#}
{#                        <img src="/static/img/torch.jpg">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}