{% extends "shared/_layout.html" %}

{% block main_content %}
    <div class="instructions">
        <div class="torch_flanked">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
                <div class="col-lg-8">
                    <h1>Instructions</h1> <br> <br>
                </div>
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
            </div>
        </div>

        <div class="torch_flanked">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
                <div class="col-lg-8">
                    <p>Dungeon of Doom is a text based exploration game.<br>
                    You awake in a dark corner of a damp room with no memory of how you got there.<br>
                    Your goal is to master the dungeon and all it has to offer, eventually earning your freedom. </p>
                </div>
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
            </div>
        </div>

        <div class="torch_flanked">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
                <div class="col-lg-8">
                    <p>The inputs and solutions to puzzles must be exact, so be careful when typing.</p>
                </div>
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
            </div>
        </div>


        <div class="torch_flanked">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
                <div class="col-lg-8">
                    <p>If a floor of the dungeon is completely cleared (all puzzles completed and all doors unlocked)
                    you will be given a code that will allow you to return to the end of that floor any time the game is started.
                    For this reason it is STRONGLY recommended that you complete each floor in its entirety before moving on.<br>
                    Death, getting stuck, or game crashes are all real possibilities.</p>
                </div>
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
            </div>
        </div>

        <div class="torch_flanked">
            <div class="row">
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
                <div class="col-lg-8">
                    <p>Good luck, play smart, and remember; you are smarter than you think.</p>
                </div>
                <div class="col-lg-2">
                    <img src="/static/img/torch.jpg">
                </div>
            </div>
        </div>
    </div>

{% endblock %}