{% extends "shared/_layout.html" %}

{% block add_title %}
<title>Congratulations!</title>
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="/static/css/_home_layout.css">
{% endblock %}

{% block main_content %}
    <div class="page-container">
        <div class="main">
            <div class="torch_flanked">
                <div class="row">
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                    <div class="col-lg-6 final_text">
                        <p>As you enter the last tile the whole wall begins to slide into the floor. As the gap reaches 2 feet a black shape
                            shoots through the opening and heads directly towards you. Instinctively you duck and cover
                            your eyes. When nothing happens for a few seconds you open your eyes again.</p>
                    </div>
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                </div>
            </div>

            <div class="torch_flanked">
                <div class="row">
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                    <div class="col-lg-6 final_text">
                        <p>Your eyes dart
                            around the empty chamber, wondering where the black shape went. Before your concern can
                            grow too large a low ruffling sound right next to you ear causes you to turn your head and
                            see a large raven perched on your shoulder. It is almost weightless, which is remarkable
                            given its size.</p>
                    </div>
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                </div>
            </div>

            <div class="torch_flanked">
                <div class="row">
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                    <div class="col-lg-6 final_text">
                        <p>"You must be Quoth" you say, reaching out a hand. It gently nuzzles your
                            index finger and gives what you assume to be a contented squawk. You look through the
                            opening where the wall used to be for the first time and see a staircase leading up into
                            the soft light of dusk. Slowly you ascend the stairs, wondering what adventure awaits you
                            next.</p>
                    </div>
                    <div class="col-lg-3 image-responsive">
                        <img src="/static/img/torch.jpg">
                    </div>
                </div>
            </div>

<!--            <div class="torch_flanked">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 image-responsive">-->
<!--                        <img src="/static/img/torch.jpg">-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 final_text">-->
<!--                        <p>Congratulations on finishing the Spooktober DLC! Having shown some of the puzzles to people-->
<!--                            I know for a fact it was not easy, but your quick wits and sharp intellect have taken you-->
<!--                            to the end of another challenge. Your perseverance is commendable brave adventurer and-->
<!--                            it is with no reservations that I say I am certain that all of life's other challenges will-->
<!--                            also fall before you.</p>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 image-responsive">-->
<!--                        <img src="/static/img/torch.jpg">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </div>

{% endblock %}