{% extends "shared/_layout.html" %}

{% block add_title %}
<title>Thor Encounter</title>
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="/static/css/_level_layout.css">
{% endblock %}

{% block main_content %}

    <div class="level_display">
        <div class="row">

            <div class="col-lg-6 cow">
                <img src="static/img/cow.png" alt="">
            </div>

            <div class="col-lg-6 text_display">
                <p>
                    {% for line in text %}
                        {{ line | safe }}<br>
                    {% endfor %}
                </p>

                <form action="{{url_for('mini_games.bull_cow_game_post')}}" method="POST">
                    <input placeholder="Enter Solution" type="text" name="player_guess" autofocus="autofocus" autocomplete="off">
                    <button type="submit"></button>
                </form>
            </div>

        </div>
    </div>


{% endblock %}